nav
  display: flex
  position: relative
  padding-bottom: $nav-down-padding
  height: $height_nav
  width: 100%
  justify-content: center
  background-color: #000000

button.burger
  position: absolute
  left: 32px
  bottom: $nav-down-padding
  transform: translateY(-50%)
  width: 3rem
  height: calc(#{$h1_size} - .8rem)
  border: none
  border-radius: 2px
  background-color: transparent
  div
    position: absolute
    top: 0
    width: 100%
    border-top: 0.2rem solid #ffffff
  div+div
    top: 50%
  div+div+div
    top: 100%

h1
  align-self: flex-end
  font-family: Roboto
  font-weight: 900
  font-size: $h1_size
  color: white
  text-align: center
