nav
  display: flex
  position: relative
  height: $height_nav
  width: 100%
  padding-bottom: $nav-down-padding
  justify-content: center
  background-color: #000000

button.burger
  position: absolute
  padding: 0
  width: 30px
  height: calc(#{$h1_size} /2)
  left: 32px
  bottom: $nav-down-padding
  transform: translateY(-50%)
  border: none
  border-radius: 2px
  background-color: transparent
  font-size: calc(#{$h1_size} /2)
  div
    position: absolute
    width: 100%
    top: 0
    border-top: 0.2em solid #ffffff
  div+div
    top: 50%
  div+div+div
    top: 100%
